{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>About the Project</h1>
    </div>
</div>

<div class="container">
    <h1>Authors:</h1>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">James Bao</h5>
                <p class="card-text">James is Master's student of Computer Science at Portland State. He is interested in applications of Computer Science towards Healthcare and Informatics.</p>
                <p class="card-text">
                    <a href="https://github.com/jambao24">
                        <img border="0" alt="GitHub" src="{% static 'GitHub.png' %}" />
                        ambao24
                    </a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Todd Graham</h5>
                <p class="card-text">Todd is Graduate Student of Computer Science at Portland State. He is primarily interested in the intersection of Computer Science and Healthcare.</p>
                <p class="card-text">
                    <a href="https://github.com/toddgraham121">
                        <img border="0" alt="GitHub" src="{% static 'GitHub.png' %}" />
                        toddgraham121
                    </a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">April Pickett</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text">
                    <a href="https://github.com/thirithu4">
                        <img border="0" alt="GitHub" src="{% static 'GitHub.png' %}" />
                        thirithu4
                    </a>
                </p>
            </div>
        </div>
    </div>
    <br>

    <h1>Tech Stack:</h1>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Frontend</h5>
                <p class="card-text">James is a MS student of Computer Science at Portland State.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Backend</h5>
                <p class="card-text">Todd is graduate student of Computer Science at Portland State.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Deployment</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dashboard</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Machine Learning</h5>
                <p class="card-text">Todd is graduate student of Computer Science at Portland State.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dataset</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>


</div>

{% endblock %}