{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>About the Project</h1>
    </div>
</div>

<div class="container">
    <h1>Authors:</h1>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">James Bao</h5>
                <p class="card-text">James is Master's student of Computer Science at Portland State. He is interested in applications of Computer Science towards Healthcare and Informatics.</p>
                <p class="card-text">
                    <a href="https://github.com/jambao24">
                        <img border="0" alt="GitHub" src="{% static 'GitHub.png' %}" />
                        ambao24
                    </a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Todd Graham</h5>
                <p class="card-text">Todd is Master's Student of Computer Science at Portland State. He is primarily interested in the intersection of Computer Science and Healthcare.</p>
                <p class="card-text">
                    <a href="https://github.com/toddgraham121">
                        <img border="0" alt="GitHub" src="{% static 'GitHub.png' %}" />
                        toddgraham121
                    </a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">April Pickett</h5>
                <p class="card-text">April is an Undergraduate Student of Computer Science at Portland State. Her previous experience is with semiconductors, but she is interested in Database Management and Healthcare.</p>
                <p class="card-text">
                    <a href="https://github.com/thirithu4">
                        <img border="0" alt="GitHub" src="{% static 'GitHub.png' %}" />
                        thirithu4
                    </a>
                </p>
            </div>
        </div>
    </div>
    <br>

    <h1>Tech Stack:</h1>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Frontend</h5>
                <a href="https://getbootstrap.com/">
                    <img border="0" alt="Bootstrap" width="50px" height="50px" src="{% static 'bootstrap-4.png' %}" />
                </a>
                <a href="https://github.com/jambao24">
                    <img border="0" alt="CSS" width="50px" height="50px" src="{% static 'css.png' %}" />
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Backend</h5>
                <a href="https://www.djangoproject.com/">
                    <img border="0" alt="Django" width="150px" height="50px" src="{% static 'django.png' %}" />
                </a>
                <a href="https://www.postgresql.org/">
                    <img border="0" alt="PostgreSQL" width="50px" height="50px" src="{% static 'PostgreSQL.png' %}" />
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Deployment</h5>
                <a href="https://www.heroku.com/">
                    <img border="0" alt="Heroku" width="150px" height="50px" src="{% static 'heroku.png' %}" />
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dashboard</h5>
                <a href="https://www.tableau.com/">
                    <img border="0" alt="Tableau" width="200px" height="50px" src="{% static 'tableau.png' %}" />
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Machine Learning</h5>
                <a href="https://scikit-learn.org/stable/">
                    <img border="0" alt="scikit-learn" width="100px" height="50px" src="{% static 'scikit-learn.png' %}" />
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dataset</h5>
                <a href="https://www.kaggle.com/johnsmith88/heart-disease-dataset">
                    <img border="0" alt="Kaggle" width="150px" height="50px" src="{% static 'Kaggle_logo.png' %}" />
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}
