{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Cardiovascular Disease Analysis</h1>
    <p>These site is dedicated to information regarding cardiovascular disease. Under the Dashboard tab is a data visualization tool to help understand what factors contribute to cardiovascular disease. Under the cardiovascular disease detection tab is a trained machine learning model for classifying whether or not someone may have cardiovascular disease based on their own physiologic data.</p>
    <p>To view our source code please see the link below:</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/toddgraham121/cs510-heart-attack-analysis"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Overview of Cardiovascular Disease</h3>
      <ul>
        <li>Cardiovascular disease is the leading cause of death in the US among both men and women, and causes 1 in every 4 deaths annually. <a href=https://www.cdc.gov/heartdisease/facts.htm>[1]</a> </li>
        <li>The disease has become more common worldwide in recent years due to the increased prevalence of sedentary lifestyles and processed foods, which are major risk factors. <a href=https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-%28cvds%29>[2]</a> </li>
        <li>Therefore, there is a need for a user-friendly webapp that accurately predicts individual cardiovascular disease risk based on vital stats. </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Dataset</h3>
      <ul>
        <li>The dataset that we've used is a combination of four databases and it consists of a total of 1025 patients where 312 are women and 713 are men.</li>
        <li>The dataset is from the 1980s and contains samples from various North American and European countries.</li>
        <li>There are a total of 14 attributes, but we will be using just 6 for the dashboard and 8 for the classifier.</li>
        <li>Individual datasets for the attributes can be obtained by just clicking on the attributes, view data (table icon) on the dashboards.</li>
        <li>The details of the chart can be achieved by hovering the mouse on it.</li>
      </ul>
    </div>
  </div> 
  <hr>
</div>
{% endblock %}
