{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Do you have cardiovascular disease?</h1>
        <p>The following is a form used as the inputs to a feedforward neural network was trained on 80% of the data. There are five hidden layers of size 100. While the accuracy is 99%, please consult your physician for diagnostics to determine if you truly have cardiovascular disease. This is only meant to be an informative tool.</p>
    </div>
</div>
<form action="results/" method="post">
    <h1 class='text-center'>Prediction Form</h1><br>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <div class="text-center">
        <button type="submit" class="btn btn-primary mb-2">Get Prediction</button>
    </div>
</form>
{% endblock %}