{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>{{ techniqueDetail.technique_type }}</h1>
    </div>
</div>
<div class="text-center container">
    <div class="row">
        <div class="col-sm">
            <h4>Accuracy: {{ techniqueDetail.accuracy }}%</h4>
        </div>
        <div class="col-sm">
            <h4>Precision: {{ techniqueDetail.precision }}%</h4>
        </div>
        <div class="col-sm">
            <h4>Recall: {{ techniqueDetail.recall }}%</h4>
        </div>
    </div>
    <br>
    <p><b>Description:</b> {{ techniqueDetail.description }}<a href="{{ techniqueDetail.url }}"> [source]</a></p>
    <br>
    <p>
        <a href="/techniques/" class="btn btn-primary my-2">Back</a>
    </p>
</div>

{% endblock %}