{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Machine Learning Techniques</h1>
    </div>
</div>
<div class="album py-5">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for technique in ml_techniques.all %}

            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ technique.technique_type }}</h5>
                        <p class="card-text">Description: {{ technique.description }}</p>
                        <p class="card-text">Accuracy: {{ technique.accuracy }}%</p>
                        <a href="{% url 'techniqueDetails' technique.id %}">More info</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}